
*.log
*.tmp

# =============================
#  FICHIERS SENSIBLES
# =============================
//.env
//.env.*

# =============================
#  IGNORER LES FICHIERS PYTHON
# =============================
__pycache__/
.Python
venv/
env/
.venv/
build/
dist/

# =============================
#  IGNORER LES FICHIERS NODE/ANGULAR
# =============================
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
.angular/
dist/

# =============================
#  IGNORER LES FICHIERS / DOSSIERS DOCKER
# =============================
docker-compose.override.yml
docker-compose.*.yml
.docker/
.dockerignore

# =============================
#  IGNORER LES FICHIERS LIÉS À L'IDE (Ex: VSCode, PyCharm)
# =============================
.vscode/
.idea/
*.iml
