.animate-like {
  animation: swipe-right 0.4s forwards;
}

.animate-dislike {
  animation: swipe-left 0.4s forwards;
}

@keyframes swipe-right {
  to {
    transform: translateX(100vw) rotate(30deg);
    opacity: 0;
  }
}

@keyframes swipe-left {
  to {
    transform: translateX(-100vw) rotate(-30deg);
    opacity: 0;
  }
}