  <div class="bg-green-100 flex flex-col items-center justify-center h-screen">
      <div class="relative w-80 h-96 flex items-center justify-center">
          <ng-container *ngIf="movies.length > 0; else endMessage">
              <div *ngFor="let movie of movies; let i = index"
                  class="absolute w-full h-full bg-white rounded-lg shadow-lg transition-all duration-500"
                  [ngClass]="{
                    'animate-slide-right': i === 0 && isAnimating && animationType === 'like',
                    'animate-slide-left': i === 0 && isAnimating && animationType === 'dislike'
                  }"
                  [style.zIndex]="movies.length - i">
                
                  <div class="p-4 text-center">
                    <h2 class="text-lg font-bold text-gray-800">{{ movieDetails[movie.movie_id]?.title || 'Chargement...' }}</h2>
                    <img *ngIf="movieDetails[movie.movie_id]?.poster_path" 
                    [src]="movieDetails[movie.movie_id]?.poster_path" 
                    alt="Affiche du film" 
                    class="w-full h-64 object-cover rounded-md shadow-md">
                                  </div>
              </div>
          </ng-container>
      </div>

      <ng-template #endMessage>
          <div class="w-80 h-96 flex items-center justify-center bg-white rounded-lg shadow-lg">
              <p class="text-lg font-bold text-gray-800">Plus de films disponibles !</p>
              <p routerLink="/play">Go back to rooms list</p>
          </div>
      </ng-template>
      
      <div class="mt-8 flex gap-4">
          <button (click)="removeMovie('dislike')" class="px-6 py-3 bg-red-500 text-white rounded-full shadow-md hover:bg-red-600" [disabled]="movies.length === 0">
            Dislike
          </button>
          <button (click)="removeMovie('like')" class="px-6 py-3 bg-green-500 text-white rounded-full shadow-md hover:bg-green-600" [disabled]="movies.length === 0">
              Like
          </button>
      </div>
  </div>
