<!-- Sections Join Room et Create Room -->
<div *ngIf="!creating_room" class="w-full p-5 mx-auto mt-10">
  <!-- Conteneur parent en flex, chaque carte s'étire sur la même hauteur -->
  <div class="flex w-full items-stretch gap-4">

    <!-- Section gauche: Join Room -->
    <div class="flex flex-col justify-between w-1/2 p-6 bg-[var(--background)] rounded-lg shadow-lg text-center">
      <div>
        <h2 class="text-3xl font-bold mb-6 text-[var(--text)]">Rejoindre

          <button class="relative group">
            <span class="text-xl text-[var(--primary)]">ℹ️</span>
            <div 
              class="absolute left-1/2 transform -translate-x-1/2 bottom-8 w-64 p-3 bg-[var(--background)] text-[var(--text)] text-sm shadow-lg rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              <p class="font-semibold">Rejoindre une Partie</p>
              <ul class="list-disc pl-4 mt-2">
                <li>Entrez le code à 6 caractères fourni par l’hôte</li>
                <li>Accédez à la sélection de films générée pour le groupe</li>
              </ul>
            </div>
          </button>
          
        </h2>
        <div *ngIf="errorMessage" class="mb-4 text-red-500 font-semibold">
          {{ errorMessage }}
        </div>
        <form (ngSubmit)="onSubmit()" #connectForm="ngForm">
          <div class="mb-6">
            <label for="join_code" class="block text-lg font-medium text-[var(--text)]">
              Code de Connexion
            </label>
            <input
              type="text"
              id="join_code"
              name="join_code"
              [(ngModel)]="join_code"
              required
              minlength="6"
              maxlength="6"
              class="mt-2 block mx-auto px-4 py-2 border border-gray-300 rounded-md shadow-sm 
                     focus:outline-none focus:ring-[var(--primary)] focus:border-[var(--primary)] w-40 text-center"
              placeholder="6 caractères"
            />
          </div>
          <button
            type="submit"
            class="w-full py-3 bg-[var(--primary)] text-white font-bold rounded-md 
                   hover:bg-[var(--secondary)] focus:outline-none transition-colors duration-300"
          >
            Se Connecter
          </button>
        </form>
      </div>
    </div>

    <!-- Section droite: Create Room -->
    <div class="flex flex-col justify-between w-1/2 p-6 bg-[var(--background)] rounded-lg shadow-lg text-center">
      <div>
        <h2 class="text-3xl font-bold mb-6 text-[var(--text)]">Créer une partie

          <button class="relative group">
            <span class="text-xl text-[var(--primary)]">ℹ️</span>
            <div 
              class="absolute left-1/2 transform -translate-x-1/2 bottom-8 w-64 p-3 bg-[var(--background)] text-[var(--text)] text-sm shadow-lg rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              <p class="font-semibold">Créer une Partie</p>
              <ul class="list-disc pl-4 mt-2">
                <li>Définissez les règles et critères de sélection des films</li>
                <li>Invitez vos amis en partageant le code de la partie</li>
              </ul>
            </div>
          </button>
          
        </h2>
      </div>
      <div>
        <button
          (click)="toggleCreateRoom()"
          class="w-full py-3 bg-[var(--primary)] text-white font-bold rounded-md 
                 hover:bg-[var(--secondary)] focus:outline-none transition-colors duration-300"
        >
          Créer une partie
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Votre composant de création de salle -->
<app-play-create-room *ngIf="creating_room"  (cancelCreate)="toggleCreateRoom()"  (roomCreated)="onRoomCreated($event)"></app-play-create-room>

<!-- Modal de confirmation -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96 text-center">
    <h3 class="text-xl font-semibold mb-4">Partie créée avec succès !</h3>
    <p class="mb-4">Voici votre code de connexion :</p>
    <div class="bg-gray-100 p-4 mb-4">
      <input
        type="text"
        [value]="roomCode"
        readonly
        class="w-full px-3 py-2 border rounded-md text-center"
      />
    </div>
    <button (click)="copyToClipboard()" class="py-2 px-4 bg-[var(--primary)] text-white rounded-md mr-9">
      Copier le code
    </button>
    <button (click)="closeModal()" class="mt-4 py-2 px-4 bg-gray-500 text-white rounded-md">
      Fermer
    </button>
  </div>
</div>

<!-- Liste des salles -->
<div class="p-5">
  <app-play-romm-list></app-play-romm-list>
</div>
