/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text: #210e0d;
      --background: #f8e8e8;
      --primary: #ff0d00;
      --secondary: #e7756f;
      --accent: #e0241a;
    }
    .dark {
      --text: #090404;
    --background: rgb(252, 230, 230);
    --primary: #c04d56;
    --secondary: #de9399;
    --accent: #d76870;
      
    }
  }
  

/**

--text: #050707;
      --background: #f9fbfa;
      --primary: #6b9e8b;
      --secondary: #adcdc1;
      --accent: #82b8a4;

**/